$font-family: 'Roboto', Arial, Georgia, Serif;
$font-family-narrow:  'Roboto Condensed', 'Arial Condensed', Arial, Georgia, Serif;

/* UI */
$primary-color: #7DC02D;

/* Departure view */
$font-color: white;
$background-color: #7DC02D;
$alert-color: #dc0451;
