$font-family: 'Roboto', arial, georgia, serif;
$monitor-font: 'Roboto Condensed', 'Arial Condensed', arial, georgia, serif;

/* UI */
$primary-color: #7dc02d;

/* Departure view */
$font-color: white;
$background-color: #7dc02d;
$alert-color: #dc0451;
