sudo: required

branches:
  only:
    - master
    - tampere
services: docker

language: node_js
node_js:
  - "10.15.3"
cache:
  directories:
    - node_modules

script:
  - npm install && CI=1 npm run test -- --watchAll=false && ./build-docker-image.sh

