.banner {
  background: $primary-color;
  min-width: 100%;
  z-index: 2;
  min-height: 70px !important;

  .title-logo {
    #logo {
      position: absolute;
      max-height: 50px !important;
      top: 10px;
      left: 10px;
    }

    div {
      padding: 5px;
    }
  }
}
