.banner {
  background: #007ac9;
  min-width: 100%;
  z-index: 2;
  height: 70px;

  .title-logo {
    #logo {
      width: 215px !important;
    }

    div {
      padding: 5px;
    }
  }

  .lang-section {
    border-bottom: 1px solid #ddd;

    .lang-select {
      text-decoration: none;
      line-height: normal;
      color: #1c57cf;
      font-family: 'Roboto', Arial, Georgia, serif;
      font-weight: 700;
      letter-spacing: 0;
      font-size: 1.25rem;
      display: inline-block;
      text-transform: uppercase;
      cursor: pointer;
      padding: 8px 13px;
      margin: 0 2px;
    }
  }

  .link-section {
    display: flex !important;
    flex-direction: column;
    border-bottom: 1px solid #ddd;

    .link {
      text-decoration: none;
      outline: none;
      width: 400px;
      background: #fff;
      color: #1c57cf;
      height: 100%;
      overflow-y: auto;
      text-align: left;
      font-family: 'Roboto', Arial, Georgia, serif;
      font-weight: 700;
      letter-spacing: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 20px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #fff;
  }

  /* Color/shape of burger icon bars on hover */
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    right: 10px !important;
    top: 10px !important;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #1c57cf;
  }

  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 70px;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #fff;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
