.ReactModal__Overlay {
  z-index: 10;
}

.ReactModal__Content {
  display: flex;
  width: 360px;
  top: 0 !important;
  height: 100% !important;
  left: calc(100% - 360px) !important;
  border-radius: 0 !important;
  animation-name: menuSlideOpen;
  animation-duration: 0.5s;

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 150px auto;
    width: calc(100% - 40px);

    #close {
      display: flex;
      justify-content: flex-end;

      .close-button {
        background: transparent;
        border: none;
        cursor: pointer;
      }

      animation-name: menuSlideClose;
      animation-duration: 1s;
    }

    #languages {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #ddd;

      .lang-select {
        color: $primary-color;
        font-family: $font-family;
        font-weight: 700;
        letter-spacing: 0;
        padding: 10px 10px;
        text-decoration: none;
        line-height: normal;
        font-size: 1.25rem;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
      }
    }

    #links {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #ddd;

      .link {
        color: $primary-color;
        font-family: $font-family;
        font-weight: 700;
        letter-spacing: 0;
        padding: 10px 10px;
        text-decoration: none;
        width: 100%;
        background: #fff;
        height: 100%;
        overflow-y: auto;
        text-align: left;
      }
    }
  }
}

@keyframes menuSlideOpen {
  0% {
    left: 100%;
  }

  100% {
    left: calc(100% - 360px);
  }
}
