@import '../index.scss';

.option-checkbox-container {
  display: flex;

  > span {
    font-weight: normal;
    user-select: none;
  }

  &.large {
    max-height: 55px;

    > span {
      font-weight: 400;
      user-select: none;
      line-height: 4;
    }
  }

  .option-checkbox {
    position: relative;
    margin-right: 2em;

    label {
      height: 20px;
      width: 20px;
      border: 1px solid #78909c;
      border-radius: 4px;
      background-color: #fff;
      cursor: pointer;
      position: absolute;
      left: 0;

      &:hover {
        border: 1px solid #007ac9;
      }

      &.checked {
        border: #007ac9 1px solid;

        &::before {
          color: #007ac9;
          font-family: $font-family;
          font-size: 1.25em;
          font-weight: 500;
          line-height: 1;
          margin-left: 0.1em;
          margin-top: 0.2em;
          transform: rotateY(15deg);
        }

        &.disabled::before {
          color: #ccc;
        }
      }

      span > svg {
        color: #007ac9;
      }

      &.disabled {
        background: #ddd;
        cursor: not-allowed;
        pointer-events: none;

        span > svg {
          color: #888;
        }
      }
    }

    &.bigger {
      margin-bottom: 10px;
      margin-right: 40px;
      margin-top: 1px;

      label {
        height: 30px;
        width: 30px;
        bottom: -11px;
        border-radius: 7px;
      }
    }

    &.large {
      margin-right: 1em;
      margin-bottom: 1em;
      margin-top: 1em;

      label {
        height: 32px;
        width: 32px;
        position: relative;

        &.checked {
          border: #007ac9 1px solid;

          &.disabled {
            color: #666;
            border: #78909c 1px solid;
          }
        }
      }
    }

    input[type='checkbox'] {
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      visibility: hidden;
      width: 20px;
    }
  }

  .checkmark {
    position: absolute;
    margin-left: 0.2em;
    margin-top: 0.15em;
  }
}
