
.check-box {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 5px;

  input[type="checkbox"] {
    position: absolute;
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
  }
}
