.display-settings-container {
  display: flex;
  margin: 26px 0 0 60px;
  width: 780px;
  justify-content: space-between;
  font-family: $font-family;
}

.display-language-container {
  display: flex;
  align-items: center;
  position: relative;

  .language-alert {
    position: absolute;
    color: red;
    right: 0;
    top: -1.5em;
    font-size: 0.813rem;
  }

  .language-controls {
    padding: 0 10px;
    margin-left: 20px;
    height: 44px;
    display: flex;
    border-radius: 5px;
    background-color: white;
    align-items: center;

    div {
      margin-right: 10px;
    }

    .option-checkbox-container {
      margin-left: 10px;
      width: 20px;
      height: 20px;
    }
  }
}

.orientation-header,
.language-header {
  margin-left: 8px;
}

.display-orientation-container {
  display: flex;
  align-items: center;

  .orientation-controls {
    height: 44px;
    display: flex;
    margin-left: 20px;
    width: 140px;

    .orientation-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      border: none;
      background-color: white;
      border-radius: 0 5px 5px 0;
      fill: $primary-color;

      div {
        margin-left: 8px;
      }
    }

    .orientation-button:first-child {
      fill: $primary-color;
      border-right: 1px solid #ddd;
      border-radius: 5px 0 0 5px;
    }

    .orientation-button:not(.selected) {
      fill: #c4c4c4;
      cursor: pointer;
    }
  }
}
