.dd-select {
  width: 100%;

  &.withMinWidth {
    min-width: 115px;
  }

  &.withWidth {
    min-width: 150px;
    &.time {
      min-width: 75px;
      margin-left: 10px;
    }
  }

  .dd__placeholder, .dd__value-container, .dd__single-value {
    color: #888888;
    span {
      position: relative;
      top: -14px;
      margin-left: 10px;
      color: #888888;
    }
  }

  .dd__group-heading {
    text-align: center;
    font-weight: bold;
  }

  .dd__option {
    color: #888888;
    &--is-selected {
      color: #FFFFFF;
    }

    span {
      position: relative;
      top: -14px;
      margin-left: 10px;
    }
  }

  .dd__indicators {
    padding-right: 10px;
  }

  .dd__control--menu-is-open {
    outline: none;
    border-style: none;
    .dd__indicators {
      svg {
        transform: rotate(-180deg);
      }
    }
  }
}
