
.index {
  font-family: $font-family;
  display: flex;

  .left {
    flex: 1;
    color: #333;

    .button-container {
      padding-left: 120px;
      padding-bottom: 60px;

      .create-new {
        font-size: 1.125em;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.02em;
        text-align: center;
        background: $primary-color;
        border-radius: 50px;
        width: 216px;
        border: none;
        height: 50px;
        color: #fff;
        cursor: pointer;
      }
    }

    .title {
      margin: 67px 0 0 120px;
    }

    .welcome {
      display: flex;
      justify-content: space-between;

      .welcome-text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: -0.03em;
        text-align: left;
        padding-right: 120px;
        padding-left: 120px;
        padding-top: 13px;
      }
    }
  }

  .right {
    .desktop-img {
      width: 720px;
      height: 497px;
      max-height: 500px;
      padding-right: 1px;
    }
  }

  @media screen and (max-width: 1220px) {
    .right {
      display: none;
      width: 0;
    }

    .left {
      width: 100%;
    }
  }
}
