
.index {
  font-family: $font-family;
  display: flex;

  .left {
    flex: 1;
    color: #333;

    .welcome {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .text {
        position: relative;
        top: 69px;
        font-size: 18px;
        line-height: 22px;
        font-weight: $font-weight;
        font-style: normal;
        letter-spacing: -0.03em;
        text-align: left;
        padding-right: 120px;
        padding-left: 120px;
        margin-top: 22px;

        &.bigger {
          margin-top: 0;
          font-size: 24px;
          line-height: 29px;
        }
      }

      .button-container {
        position: relative;
        top: 69px;
        padding-left: 120px;
        padding-bottom: 60px;
        margin-top: 30px;

        .create-new {
          font-size: 1.125em;
          font-style: normal;
          font-weight: $font-weight;
          line-height: 22px;
          letter-spacing: -0.02em;
          text-align: center;
          background: $primary-color;
          border-radius: 50px;
          width: 216px;
          border: none;
          height: 50px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .right {
    .desktop-img {
      padding-top: 72px;
      padding-right: 167px;
    }
  }

  @media screen and (max-width: 1220px) {
    .right {
      display: none;
      width: 0;
    }

    .left {
      width: 100%;
    }
  }
}
