@import '../index';

.modal {
  .ReactModal__Content {
    border: none !important;
    border-radius: 5px !important;
    width: 680px !important;
    max-height: 90% !important;
    height: fit-content;
    overflow-x: hidden !important;
    top: 50% !important;
    left: 50% !important;
    margin-right: -50%;
    margin-bottom: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    animation: none;
  }

  .layout-modal-header {
    margin: 0 0 34px 0;
    font-size: 1.5rem;
    font-weight: $font-weight-bigger;
    padding-left: 60px;
  }

  .layout-modal-content-container {
    $primary-color: var(--primary-color);

    font-family: var(--font-family-normal);
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    .row-header {
      font-weight: $font-weight;
      margin: 28px 0 10px;
      font-size: 1.125rem;
    }

    #close {
      display: flex;
      justify-content: flex-end;

      .close-button {
        background: transparent;
        border: none;
        cursor: pointer;
      }
    }
  }

  .layouts {
    margin-top: -31px;
    margin-left: 60px;

    .row {
      .header {
        padding-bottom: 20px;
        display: flex;
        align-items: end;
        flex-flow: column;
      }

      .options {
        display: flex;

        .option {
          display: flex;
          flex-direction: column;
          border: 1px solid #ddd;
          border-radius: 4px;

          svg {
            position: relative;
            top: 10px;
          }

          &.vertical {
            height: 210px;
            width: 121px;
            margin-right: 20px;

            svg {
              top: 10px;
              left: 10px;
            }
          }

          &.label-selected {
            border: 1px solid transparent;
            box-shadow: 0 0 0 2px #333;
          }

          height: 140px;
          width: 174px;
          margin-right: 20px;
          background: transparent;

          .label {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.02em;
            margin-top: 20px;
            margin-bottom: 10px;
            width: 100%;
          }
        }

        .option:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;

    .close-button {
      font-size: 1.125em;
      font-style: normal;
      font-weight: $font-weight;
      line-height: 22px;
      letter-spacing: -0.02em;
      text-align: center;
      background: $primary-color;
      color: #fff;
      border-radius: 50px;
      width: 216px;
      height: 50px;
      margin: 30px 0 50px;
      border: none;
    }
  }
}
