.modal {
  .ReactModal__Overlay {
    z-index: 10;
  }

  .ReactModal__Content {
    width: 680px;
    top: 110px !important;
    left: 50% !important;
    margin-right: -50%;
    transform: translate(-50%, 0);
  }

  .layout-modal-header {
    margin: 0 0 34px 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .layout-modal-content-container {
    font-family: 'Roboto';
    margin: 45px 0 0 60px;
    display: flex;
    flex-direction: column;
    max-width: 560px;

    .row-header {
      font-weight: normal;
      margin: 28px 0 10px;
      font-size: 1.125rem;
    }
  }

  .layouts {
    margin-top: -31px;

    .row {
      .header {
        padding-bottom: 20px;
        display: flex;
        align-items: end;
        flex-flow: column;
      }

      .options {
        display: flex;

        .option:last-child {
          margin-right: 0;
        }

        .option {
          display: flex;
          flex-direction: column;
          border: 1px solid #ddd;
          border-radius: 4px;


        svg {
          position: relative;
          top: 10px;
          left: 7px;
        }

          &.vertical {
            height: 210px;
            width: 110px;
            margin-right: 12px;

            svg {
              top: 10px;
              left: 10px;
            }
          }

          &.label-selected {
            border: 1px solid transparent;
            box-shadow: 0 0 0 2px #333;
          }

          height: 140px;
          width: 180px;
          margin-right: 10px;



          .label {
            display: flex;
            justify-content: center;
            position: relative;
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;

    .close-button {
      font-size: 1.125em;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -0.02em;
      text-align: center;
      background: #007ac9;
      color: #fff;
      border-radius: 50px;
      width: 216px;
      height: 50px;
      margin: 30px 0 50px;
      border: none;
    }
  }
}
