.main-content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #007ac9;
}

.monitor-container {
  display: flex;
  flex: 1;
  font-family: 'Roboto', Arial, Georgia, serif;
  color: #fff;

  .grid {
    margin: 0 15px;
    flex: 1;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 35px 10px auto;
    &.multi-display {
      grid-template-rows: 75px 35px 10px auto;
    }

    .title {
      display: flex;
      align-items: center;
      font-size: 32px;
      justify-content: center;
      grid-column: span 4;
      grid-row: span 1;
    }

    .header {
      font-size: 28px;

      &.line {
        grid-column: span 1;
      }

      &.destination {
        grid-column: span 2;
      }

      &.time {
        grid-column: span 1;
        text-align: right;
      }
    }

    .row {
      &.line {
        grid-column: span 1;
      }

      &.destination-two-rows {
        grid-column: span 2;
        span {
          position: relative;
          top: -30px;
          font-size: 0.5em;
          &::before {
            content: "\A";
            white-space: pre;
          }
        }
      }

      &.time {
        grid-column: span 1;
      }
    }
  }
}

.divider {
  width: 5px;
  background-color: white;
}

.separator {
  grid-column: span 4;
  border-top: 5px dotted #fff;
  &.first {
    border-top: 5px solid #fff;
  }
}

.departure-time {
  justify-content: flex-end;
}
