.rows4 > .grid-row {
  grid-template-columns: 21vh 1fr 36vh;
  font-size: calc((#{var(--height)} - 30vh) / 10);
  .len1, .len2 {
    font-size: calc((#{var(--height)} - 30vh) / 4.5);
  }
}
.rows8 > .grid-row {
  grid-template-columns: 21vh 1fr 25vh;
}
.rows12 > .grid-row {
  grid-template-columns: 18vh 1fr 17vh;
}
.rows4.with-stop-code > .grid-row {
  grid-template-columns: 20vh 1fr 20vh 36vh;
}
.rows8.with-stop-code > .grid-row {
  grid-template-columns: 20vh 1fr 20vh 25vh;
}
.rows12.with-stop-code > .grid-row {
  grid-template-columns: 20vh 1fr 15vh 20vh;
}
.rows4.two-cols.with-stop-code > .grid-row {
  grid-template-columns: 18vh 1fr 20vh 21vh;
}
.rows8.two-cols.with-stop-code > .grid-row {
  grid-template-columns: 18vh 1fr 20vh 22vh;
}
.rows12.two-cols.with-stop-code > .grid-row {
  grid-template-columns: 17vh 1fr 13vh 18vh;
}
.rows8.portrait.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 12vh 17vh;
  font-size: calc((#{var(--height)} - 30vh) / 15);
  .len1, .len2 {
    font-size: calc((#{var(--height)} - 30vh) / 8);
  }
  .grid-col {
    align-self: flex-start;
  }
}
.rows12.portrait.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 11vh 17vh;
}
.rows16.portrait.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 10vh 15vh;
}
.rows24.portrait.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 8vh 14vh;
}
.rows4.portrait.tightened.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 13vh 15vh;
  .len1, .len2 {
    font-size: calc((#{var(--height)} - 30vh) / 8);
  }
  font-size: calc((#{var(--height)} - 30vh) / 15);
}
.rows6.portrait.tightened.with-stop-code > .grid-row {
  grid-template-columns: 12vh 1fr 13vh 15vh;
}
.rows4.two-cols > .grid-row {
  grid-template-columns: 21vh 1fr 23vh;
}
.rows4.portrait > .grid-row {
  grid-template-columns: 18vh 1fr 22vh;
}
.rows6.portrait > .grid-row {
  grid-template-columns: 18vh 1fr 15vh;
}
.rows8.portrait > .grid-row {
  grid-template-columns: 20vh 1fr 22vh;
}
.rows16.portrait > .grid-row {
  grid-template-columns: 15vh 1fr 15vh;
}
.rows24.portrait > .grid-row {
  grid-template-columns: 10vh 1fr 14vh;
}
.preview {
  .grid-row {
    height: unset !important;
  }
  .rows4 > .grid-row {
    grid-template-columns: 160px 1fr 100px;
    font-size: 30px;
    .len1, .len2 {
      font-size: 50px;
    }
  }
  .rows4 > .grid-row {
    grid-template-columns: 160px 1fr 100px;
  }
  .rows4.with-stop-code > .grid-row {
    grid-template-columns: 120px 1fr 70px 100px;
  }
  .rows8.with-stop-code > .grid-row {
    grid-template-columns: 100px 1fr 70px 70px;
  }
  .rows12 > .grid-row {
    grid-template-columns: 70px 1fr 60px;
  }
  .rows12.with-stop-code > .grid-row {
    grid-template-columns: 70px 1fr 60px 60px;
  }
  .rows4.two-cols > .grid-row {
    grid-template-columns: 70px 1fr 80px;
  }
  .rows4.two-cols.with-stop-code > .grid-row {
    grid-template-columns: 70px 1fr  70px 70px;
    font-size: 28px;
  }
  .rows8.two-cols > .grid-row {
    grid-template-columns: 60px 1fr 80px;
  }
  .rows8.two-cols.with-stop-code > .grid-row {
    grid-template-columns: 60px 1fr 60px 70px;
  }
  .rows8.portrait > .grid-row {
    grid-template-columns: 75px 1fr 80px;
  }
  .rows8.portrait.with-stop-code > .grid-row {
    grid-template-columns: 75px 1fr 80px 80px;
    font-size: 24px;
    .len1, .len2 {
      font-size: 50px;
    }
  }
  .rows12.portrait.with-stop-code > .grid-row {
    grid-template-columns: 75px 1fr 80px 80px;
    font-size: 20px;
    .len1, .len2 {
      font-size: 35px;
    }
  }
}
