
$preview-container-width: 640px;
$preview-container-height: 365px;
$preview-container-height-portrait: 590px;
$preview-container-height-portrait-tighten: 285px;

$preview-container-width-portrait: 405px;
$preview-grid-rows-height-portrait-tighten: 266px;
$preview-grid-rows-margin: 15px;
$preview-grid-divider: 2px;



.main-content-container.preview {
  .divider {
    min-width: 2px;
    margin: 0 3px;
  }
  .separator {
    border-top: 1px dotted #fff;
  }
  .grid.two-cols {
    margin: 0 5px;
  }
  .monitor-container {
    height: calc(90% - 30px);
    .grid-rows {
      height: calc(100% - 25px);
      .grid-row{
        &.alert {
          &.two-rows {
            padding-bottom: 2px;
          }
          &.three-rows {
            padding-bottom: 3px;
          }

          &.four-rows {
            padding-bottom: 4px;
          }
        }
      }
      &.rows4 {
        .grid-row {
          font-size: 50px;
          &.alert {
            font-size: 30px;
          }
        }
        .destination {
          font-size: 30px;
        }
      } 
      &.rows4.two-cols {
        .grid-row {
          font-size: 30px;
        }
      }
      &.rows8 {
        .grid-row {
          font-size: 24px;
          &.alert {
            font-size: 20px;
          }
        }
      }
      &.rows12 {
        .grid-row {
          font-size: 17px;
          &.alert {
            font-size: 17px;
          }
        }
      }          
    }
    .grid {
      height: 100%;
      .grid-headers {
        height: 25px;
        .grid-header {
          font-size: 1em;
        }
      }
    }
    &.portrait {
      height: calc(95% - 30px);
      .rows8, .rows12 {
        .grid-row {
          grid-template-columns: 75px 1fr 80px;
          font-size: 25px;
        }
      }
      .rows16 {
        .grid-row {
          grid-template-columns: 75px 1fr 80px;
          font-size: 20px;
        }
      }
      .rows24 {
        .grid-row {
          grid-template-columns: 75px 1fr 80px;
          font-size: 15px;
        }
      }
      .grid-rows.tightened {
        height: calc(50% - 12.5px);
        &.rows6 {
          .grid-row {
            font-size: 25px;
            grid-template-columns: 75px 1fr 95px;
          }
        }
        &.rows4 {
          .grid-row {
            grid-template-columns: 75px 1fr 95px;
            font-size: 30px;
          }
        }
        &.rows12 {
          .grid-row {
            grid-template-columns: 75px 1fr 95px;
            font-size: 16px;
          }
        }
      }
      
    }
  }
}

.main-content-container {
  background-color: $background-color;
  font-family: $font-family-narrow;
  letter-spacing: -0.5px;
  color: #fff;
  height: 100%;
  .monitor-container {
    height: calc(100% - 10vh - 30px); // 100% - height of logo bar
    &.two-cols {
      display: flex;
      .grid {
        width: calc(50% - 12.5px);
      }
    }
    .grid {
      margin: 0 15px;
      height: calc(100% - 5vh); // 100% - height of table headers
      &.portrait {
        height: 100%;
      }
    }
  }
  .grid-headers {
    .grid-row {
      display: grid;
      height: 5vh;
      .grid-header {
        align-self: center;
        font-size: 3.5vh;
        &.line {
          width: 20%;
        }
        &.time {
          width: fit-content;
        }
        &.destination {
          flex: 1;
        }
      }
    }
  }
  .grid-rows {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &.portrait {
      &.tightened {
        height: 50%;
        &.rows4 {
          .grid-col {
            align-self: flex-start;
          }
          font-size: calc((#{var(--height)} - 30vh) / 10);
        }
        &.rows6 {
          font-size: calc((#{var(--height)} - 30vh) / 16);
        }
        &.rows12 {
          font-size: calc((#{var(--height)} - 30vh) / 26);
        }
      }
    }
    &.rows4 {
      .grid-row {
        .grid-col {
          align-self: flex-start;
        }
        &.alert {
          font-size: calc((#{var(--height)} - 30vh) / 8);
        }
      }
      font-size: calc((#{var(--height)} - 30vh) / 6);
      .destination {
        font-size: calc((#{var(--height)} - 30vh) / 9);
      }
    }
    &.rows4.two-cols {
      font-size: calc((#{var(--height)} - 30vh) / 10);
    }
    &.rows8 {
      font-size: calc((#{var(--height)} - 30vh) / 10);
      .destination {
        display: flex;
        align-items: baseline;
        .via-destination {
          padding-left: 15px;
        }
      }
    }
    &.rows12 {
      font-size: calc((#{var(--height)} - 30vh) / 14);
      .destination {
        display: flex;
        align-items: baseline;
        .via-destination {
          padding-left: 15px;
        }
      }
    }
    &.portrait {
      &.tightened {
        &.rows4 {
          .destination {
            font-size: calc((#{var(--height)} - 30vh) / 15);
          }
        }
      }
      &.rows8 {
        .destination {
          font-size: calc((#{var(--height)} - 30vh) / 15);
          display: block;
          .via-destination {
            padding: 0;
          }
        }
      }
      &.rows16 {
        font-size: calc((#{var(--height)} - 30vh) / 18);
      }
      &.rows24 {
        font-size: calc((#{var(--height)} - 30vh) / 26);
      }
    }
    .grid-row {
      height: 100%;
      display: grid;
      flex: 1;
      .grid-col {
        align-self: center;
        &.time {
          text-align: end;
        }
      }
      .destination, .destination-one-row {
        white-space: nowrap;
        overflow: hidden;
        mask-image: linear-gradient(
          to left,
          transparent,
          rgba(0, 0, 0, 0.2) 5px,
          rgba(0, 0, 0, 1) 25px,
          rgba(0, 0, 0, 1)
        );
        .via-destination {
          font-size: smaller;
        }
      }
    }
  }
}

.divider {
  background-color: white;
  min-width: 5px;
  margin-left: 10px;
  margin-right: 10px;
  height: 98%;
}
.separator {
  width: 100%;
  border-top: calc(0.4 * 1vh) dotted #fff;
  height: 0;
  &.first {
    border-top: calc(0.2 * 1vh) solid #fff;
  }
}
.grid-rows.two-cols {
  .grid-row.alert {
    width: calc(200% + calc(4 * #{$preview-grid-rows-margin}) + 25px);
  }
}
    .grid-row {
      &.alert {
        display: block !important;
        position: relative;
        left: calc(-1 * #{$preview-grid-rows-margin});
        width: calc(100% + calc(2 * #{$preview-grid-rows-margin}));
        z-index: 1000;
        padding-bottom: calc(0.4 * 1vh);
        overflow: hidden;
        &.rows12 {
          font-size: calc((#{var(--height)} - 30vh) / 14);
        }
        &.two-rows {
          flex: 2 1 0;
          padding-bottom: calc(2 * 0.4 * 1vh);
        }

        &.three-rows {
          flex: 3 1 0;
          padding-bottom: calc(3 * 0.4 * 1vh);
        }

        &.four-rows {
          flex: 4 1 0;
          padding-bottom: calc(4 * 0.4 * 1vh);
        }
      }
    }

    .grid-cols {
      display: flex;
      justify-content: center;
      &.alert-row {
        display: block;
        position: relative;
        border-top: 2px solid white;
        color: white;
        background: $background-color;
        padding: 0 $preview-grid-rows-margin;
      }
    }
    .grid-row.day {
      display: flex !important;
      .day-row {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: $background-color;
        background: white;
      }
    }
    .tilde {
      color: #fff;
      font-size: smaller;
    }