
.monitormap {
  height: 100%;
  width: 100%;

  &.preview {
    position: relative;
    height: 95% !important;
  }
}

.alert-component {
  * {
    position: relative;
    height: 50% !important;
  }
}

.preview > .alerts {
  height: 75% !important;
}

.preview .alert-component {
  * {
    font-size: 20px !important;
    padding-top: 4px;
  }
}

.monitormap.alerts {
  height: 75% !important;
}
