  .stop-title {
  display: flex;
  flex-direction: column;
  background: #ffff;
  color: #666;
  height: 80px;
  width: 250px;
}

.stop-title-input-container {
  display: flex;

  .stop-title-input {
    &.east-west {
      &:focus {
        outline: none;
      }
    }

    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.3px;
    text-align: left;
    width: 150px;
    height: 24px;
    border: none;

    &:focus {
      outline: auto #007ac9;
    }
  }
}

.description {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-align: left;
  white-space: nowrap;
  margin-top: 17px;
  margin-bottom: 0;
}
