.stopcard-row-container  {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px 0;
  width: 720px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;

  .title-with-icons {
    display: flex;
    max-height: 80px;
    width: 720px;
    border-bottom: 1px solid #DDDDDD;

    .icons {
      display: flex;
      height: 40px;
      position: relative;
      left: 385px;
      top: 20px;

      .delete {
        cursor: pointer;
        width: 50px;
        padding-top: 8px;
        text-align: center;

        &.move-end {
          text-align: right;
          position: relative;
          left: 36px;
        }
      }

      .drag {
        cursor: pointer;
        padding-top: 8px;
        border-left: 1px solid #ddd;
        width: 50px;
        text-align: center;
      }
    }
  }

  .headers {
    display: flex;
    margin-top: 22px;
    font-size: 15px;

    .stop {
      width: 440px;
    }
    .layout {
      width: 130px;
    }
    .duration {
      margin-left: 20px;
    }
  }
  .search-stop-with-layout-and-time {
    display: flex;
    margin-top: 5px;

    .search-stop {
      width: 380px;
      margin-right: 40px;

      input[class^='styles_input'] {
        border: 1px solid #888888;
      }

      div[class^='styles_autosuggest-input-icon'] svg {
        fill: #888888;
      }
    }
  }

  .stop-list {
    position: relative;
    list-style-type: none;
  }

  .stop-list-title {
    &.left, &.right {
      margin-top: 10px;
      display: flex;
      flex-direction: row;

      .input-left, .input-right {
        font-size: 16px;
        width: 130px;
        border: none;
        &:focus {
          outline: none;
        }
      }

      svg {
        position: relative;
        top: 2px;
        display: flex;
        justify-content: center;
        align-content: center;
      }
    }
  }
}

.drag {
  cursor: pointer;
  padding-top: 8px;
  border-left: 1px solid #ddd;
  width: 40px;
  list-style-type: none;
}