.stop-title {
  display: flex;
  background: #ffff;
  color: #666;
  height: 80px;
  width: 250px;
}

.stop-title-input {
  top: 34px;
  position: relative;
  left: 27px;
  border: 0;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  width: 128px;
  height: 34px;
}

.description {
  position: absolute;
  top: 14px;
  left: 43px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
}

svg {
  position: relative;
  top: 41px;
  left: 24px;
}
