.stopcard-row-container {
  font-family: 'Roboto', Arial, Georgia, serif;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 720px;
  height: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;

  .title-with-icons {
    display: flex;
    height: 80px;
    width: 720px;
    border-bottom: 1px solid #ddd;

    .icons {
      display: flex;
      height: 40px;
      position: relative;
      top: 20px;
      margin-left: auto;

      .delete {
        cursor: pointer;
        width: 50px;
        padding-top: 8px;
        text-align: center;

        &.move-end {
          text-align: right;
          position: relative;
          left: 36px;
        }
      }

      .move {
        position: relative;
        right: 3px;
        cursor: pointer;
        border-left: 1px solid #ddd;
        width: 50px;
        text-align: center;

        &.up-and-down {
          .container {
            width: 30px;
            height: 40px;
          }

          div {
            position: relative;
            left: 5px;

            &:first-child {
              top: 0;
            }

            &:nth-child(2),
            &:nth-child(3) {
              top: -15px;
            }
          }
        }
      }
    }
  }

  .headers {
    display: flex;
    margin-top: 22px;
    font-size: 15px;

    .stop {
      width: 440px;
    }

    .layout {
      width: 130px;
    }

    .duration {
      margin-left: 20px;
    }
  }

  .east-west-inputs {
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    .stop-list-title-input {
      width: 500px;
      .header {
        padding-bottom: 16px;
      }

      .stop-list-title {
        &.left,
        &.right {
          display: flex;
          flex-direction: row;
          position: relative;

          .input-left,
          .input-right {
            font-size: 21px;
            line-height: 24px;
            letter-spacing: -0.3px;
            width: 130px;
            border: none;

            &:focus {
              outline: auto #007ac9;
            }
          }

          svg {
            position: relative;
            top: 2px;
            display: flex;
            justify-content: center;
            align-content: center;
          }
        }
      }
    }
  }

  .search-stop-with-layout-and-time {
    display: flex;
    margin-top: 5px;

    .search-stop {
      width: 380px;
      margin-right: 40px;

      input[class^='styles_input'] {
        border: 1px solid #888;
      }

      div[class^='styles_autosuggest-input-icon'] svg {
        fill: #888;
      }
    }
  }

  .stop-list {
    position: relative;
    list-style-type: none;
  }

  .header {
    position: relative;
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.3px;
    color: #666;
    min-width: 106px;
  }
}
