#stop-search {
  display: flex;
  flex-direction: column;
}

#stop-search {
  display: flex;
  flex: 0 3 33%;
  justify-self: flex-start;
}

#stop-search .stop-selector {
  flex: 1 1 66%;
  margin: 0.25em;
}
