#title-bar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 1.5em;
  margin-bottom: 0.5em;
}

#title-bar #logo {
  flex: 0 3 33%;
  justify-self: flex-start;
}

#title-bar #title-text {
  flex: 1 1 33%;
  justify-content: center;
}

#title-bar #title-time {
  flex: 0 1 33%;
  /* justify-content: flex-end; */
}

#title-text {
  display: flex;
  font-size: 4em;
  font-weight: bold;
}

#title-time {
  background-color: white;
  color: rgb(0, 115, 201);
  display: flex;
  font-size: 4em;
  font-weight: bold;
  border-radius: 0.2em;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
