$preview-container-height-portrait: 590px;
$preview-container-width-portrait: 405px;
$preview-grid-rows-height-portrait-tighten: 266px;
$preview-container-width: 640px;
$preview-container-height: 365px;

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-start;
  align-items: center;
  height: 10vh !important;
  padding: 15px;
  overflow: hidden;
  font-size: 4.5vw;

  &.portrait {
    font-size: 5vw;
    height: 5vh !important;

    .title-time-container {
      font-size: min(5vw, 70px);
      margin-top: 10px;
    }

    .title-text {
      font-size: min(5vw, 80px);
    }

    .title-logo {
      #logo {
        width: min(16vw, 330px) !important;
      }
    }
  }

  &.preview {
    font-size: calc(0.045 * #{$preview-container-width});
    height: calc(0.1 * #{$preview-container-height}) !important;

    &.portrait {
      .title-text {
        font-size: 25px !important;
      }

      .title-time-container {
        font-size: 25px;
      }

      font-size: calc(0.05 * #{$preview-container-width-portrait});
      height: calc(0.05 * #{$preview-container-height-portrait}) !important;
    }
  }
}

.title-logo {
  min-width: 16vw !important;

  #logo {
    width: 16vw !important;
  }

  &.portrait {
    min-width: 16vw !important;

    #logo {
      width: 16vw !important;
    }
  }

  &.preview {
    min-width: calc(0.16 * #{$preview-container-width}) !important;

    #logo {
      width: calc(0.16 * #{$preview-container-width}) !important;
    }

    &.portrait {
      width: calc(0.1 * #{$preview-container-width}) !important;
    }
  }
}

.title-text {
  font-family: 'Roboto', Arial, Georgia, serif;
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 2vw;
  font-weight: bold;
  font-size: min(5vw, 100px);
  color: #fff;
  text-align: center;

  &.preview {
    font-size: 35px !important;
    margin: 0 calc(0.02 * #{$preview-container-width});
  }
}

.multi-display-titles {
  font-family: 'Roboto', Arial, Georgia, serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-weight: bold;
  color: #fff;
  width: 100%;
}

.left-title {
  text-align: left;
}

.right-title {
  text-align: right;
}

.title-text-stop {
  display: flex;
}

.title-time-container {
  min-width: 16vw !important;
  display: flex;
  flex: 0;
  justify-content: flex-end;

  &.preview {
    min-width: calc(0.16 * #{$preview-container-width}) !important;
  }
}

.title-time {
  font-family: 'Roboto', Arial, Georgia, serif;
  display: flex;
  flex: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 0.2em;
  background-color: white;
  color: rgb(0, 115, 201);

  time {
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}
