.card {
  width: 720px;
  background-color: #fff;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 5px;

  .main-container {
    height: 80px;
    width: 98%;
    display: flex;
    border-bottom: 1px solid #ddd;

    .monitor-name {
      position: relative;
      right: 300px;
      top: 29px;
    }

    .layout-img {
      margin-right: 320px;
      margin-top: 22px;
      margin-left: 33px;
    }

    .delete-icon {
      cursor: pointer;
      width: 50px;
      padding-top: 8px;
      text-align: center;
      border-left: 1px solid #ddd;
      margin-left: 4px;
      height: 40px;
      padding-left: 10px;
    }

    .control-buttons {
      display: flex;
      width: 10px;
      margin-top: 22px;
      position: absolute;
      left: 426px;

      .button {
        margin-right: 4px;
        color: $primary-color;
        position: relative;
        right: 6px;
        font-size: 16px;
      }

      .edit-button {
        font-size: 16px;
        padding: 0 28px;
        height: 40px;
        background: #fff;
        border: 1px solid #888;
        box-sizing: border-box;
        border-radius: 40px;
        cursor: pointer;
        margin-right: 4px;
        margin-left: 0;
        color: $primary-color;
      }
    }
  }

  .cards {
    .card:not(:first-child) {
      border-top: 1px solid #ddd;
      width: 80%;
      right: 0;
      position: relative;
    }

    .card-item {
      .card-container {
        display: flex;
        padding-top: 19px;

        svg {
          padding-right: 23px;
          padding-left: 33px;
          height: 36px !important;
          width: 64px !important;
        }

        .data {
          ul {
            margin-block: 0;
          }

          .card-title {
            position: relative;
            top: -5px;
            font-style: normal;
            font-weight: $font-weight-bigger;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #333;

            &:not(:first-child) {
              margin-top: 15px;
            }
          }

          .stop-list {
            ul,
            li {
              list-style: none;/* disc inside none; */
              .icon {
                svg {
                  padding-right: 5px;
                  padding-left: 0;
                  height: 16px !important;
                  width: 16px !important;
                  position: relative;
                  top: 2px;
                }

                span {
                  margin-left: 5px;
                }
              }

              &:last-child {
                padding-bottom: 10px;
              }
            }

            font-style: normal;
            font-weight: $font-weight;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.03em;
            color: #333;
            // margin-top: -11px;
          }
        }
      }
    }
  }
}
