.card {
  width: 720px;
  background-color: #fff;
  padding: 0 30px;
  margin-bottom: 10px;
  border-radius: 5px;

  .main-container > * {
    height: 40px;
    display: flex;
    align-items: center;
  }

  .main-container {
    height: 80px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .monitor-name {
      flex: 1;
    }

    .layout-img {
      margin: 0 15px 0 0;
    }

    .delete-icon {
      cursor: pointer;
      width: 32px;
      padding-left: 8px;
      text-align: center;
      border-left: 1px solid #ddd;
      margin-left: 9px;
      justify-content: center;
    }

    .round-button {
      font-size: 16px;
      padding: 0 28px;
      background: #fff;
      border: 1px solid #888;
      border-radius: 40px;
      cursor: pointer;
      margin-right: 10px;
      color: $primary-color;
    }
  }

  .cards {
    .card-item:not(:last-of-type) {
      border-bottom: 1px solid #ddd;
    }

    .card-item {
      .card-container {
        display: flex;
        padding: 19px 0 16px 0;

        svg {
          padding-right: 23px;
          height: 36px !important;
          width: 64px !important;
        }

        .data {
          ul {
            margin-block: 0;
          }

          .card-title {
            position: relative;
            top: -5px;
            font-style: normal;
            font-weight: $font-weight-bigger;
            font-size: 15px;
            line-height: 24px;
            letter-spacing: -0.03em;
            color: #333;

            &:not(:first-child) {
              margin-top: 15px;
            }
          }

          .stop-list {
            ul,
            li {
              list-style-type: disc;
              margin-left: 20px;
            }

            font-style: normal;
            font-weight: $font-weight;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: -0.03em;
            color: #333;
          }
        }
      }
    }
  }
}

.delete-modal-content {
  .message {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 45px;
  }

  .delete-modal-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .monitor-button {
      width: 100%;
      justify-content: center;
    }
  }
}
