.user-view-title {
  display: flex;
  flex-direction: row;
  background: #f2f5f7;
  color: #666;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #ddd;
  margin-bottom: 18px;

  .user-view-title-input-container {
    display: flex;
    flex: 1;

    .user-view-title-input {
      font-size: 26px;
      font-style: normal;
      font-weight: $font-weight;
      line-height: 31px;
      letter-spacing: -0.3px;
      text-align: left;
      width: 250px;
      height: 31px;
      border: none;
      background: #f2f5f7;

      &:focus {
        outline: auto $primary-color;
      }
    }

    .user-view-title-input-button {
      display: flex;
      align-items: center;
    }
  }

  .delete-icon {
    cursor: pointer;
    padding-right: 10px;
    background-color: #f2f5f7;
  }
}
