$font-family: "Gotham Rounded A","Gotham Rounded B", arial, georgia, serif;
$monitor-font:  'Gotham XNarrow SSm A', 'Gotham XNarrow SSm B', 'Gotham Rounded A', 'Gotham Rounded B', arial, georgia, serif;

/* UI */
$primary-color: pink;

/* Departure view */
$font-color: white;
$background-color: #0057a2;
$alert-color: #dc0451;
