.StopTimesList {
  /* border-collapse: collapse; */
  border-spacing: 0;
}

.StopTimesList thead {
  background-color: rgb(0, 115, 201);
}

.StopTimesList thead tr th {
  border-bottom: 0.125em solid white;
}

.StopTimesList th,td {
  padding: 0.2em;
}

.StopTimesListTitles {
  font-weight: bold;
  font-size: 2.25em;
}

.StopTimesList th:last-child,td:last-child {
  text-align: end;
}

.StopTimesList thead th {
  font-weight: bold;
  font-size: 2.25em;
  text-align: start;
}

/* Separator row is used instead of just having bottom border since dashed borders between table cells look terrible. This looks ok. */
.StopTimesList tbody tr.separator td {
  /* CSS Dotted border is pretty blocky and thus ugly in safari. Investigate https://medium.com/@marcusasplund/just-stumbled-upon-this-great-post-for-an-unknown-reason-d17bd0190716 */
  border-bottom: 0.125em dotted white;
  border-radius: 1;
  padding: 0;
}

.StopTimesList tbody td {
  font-weight: bold;
  font-size: 2.5em;
}

.StopTimesList tbody {
  color: white;
}

.StopTimesList tr.canceled td.time {
  text-decoration: line-through;
  text-decoration-color: red;
}
