$font-family: 'Roboto', arial, georgia, serif;
$font-family-narrow:  'Roboto Condensed', 'Arial Condensed', arial, georgia, serif;

/* UI */
$primary-color: #026273;

/* Departure view */
$font-color: white;
$background-color: #0057a2;
$alert-color: #dc0451;
