$font-family: 'Roboto', arial, georgia, serif;
$font-family-narrow:  'Roboto Condensed', 'Arial Condensed', arial, georgia, serif;

/* UI */
$primary-color: #1c57cf;

/* Departure view */
$font-color: white;
$background-color: #1c57cf;
$alert-color: #dc0451;
