body {
  background-color: #003873;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
}

a {
  color: lightblue;
}

#HSL-logo {
  display: flex;
}

#title-text {
  display: flex;
  font-size: 4em;
  font-weight: bold;
}

#title-time {
  display: flex;
  font-size: 4em;
  font-weight: bold;
}

#title-bar {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

#title-bar #HSL-logo {
  flex: 0 3 33%;
  justify-self: flex-start;
}

#title-bar #title-text {
  flex: 1 1 33%;
  justify-content: center;
}

#title-bar #title-time {
  flex: 0 1 33%;
  justify-content: flex-end;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.StopTimesList {
  border-spacing: 0;
}

.StopTimesList thead {
  background-color: #002852;
}

.StopTimesList th,td {
  padding: 0.2em;
}

.StopTimesList thead th {
  font-weight: bold;
  font-size: 2.25em;
  text-align: start;
}

.StopTimesList tbody td {
  border-bottom: 0.05em solid white;
  font-weight: bold;
  font-size: 2.5em;
}

.StopTimesList tbody {
  color: #FFFF00;
}

#stop-search {
  display: flex;
  flex-direction: column;
}

#stop-search #HSL-logo {
  flex: 0 3 33%;
  justify-self: flex-start;
}

#stop-search .stop-selector {
  flex: 1 1 66%;
  margin: 0.25em;
}

.stop-selector {
  font-size: 2.5em;
  font-weight: bold;
}

.stop-selector form {
  display: block;
}

.stop-selector div:not(:last-child) {
  margin-bottom: 0.35em;
}

.stop-selector form input,button {
  font-size: 1em;
}
