#root {
  font-family: var(--font-family);
  height: 100%;
}

$font-family: var(--font-family);
$font-weight: var(--font-weight);
$font-weight-bigger: var(--font-weight-bigger);
$alert-color: var(--alert-color);
$primary-color: var(--primary-color);
$monitor-background-color: var(--monitor-background-color);
$monitor-font: var(--monitor-font);
$monitor-font-weight: var(--monitor-font-weight);
$monitor-font-weight-bigger: var(--monitor-font-weight-bigger);

.check-box {
  input[type=checkbox] {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 20px;
  }
}

ul,
li {
  list-style-type: none;
}

.ReactModal__Content {
  font-family: var(--font-family);
}

.ReactModal__Overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.4) !important;
}
