body {
  margin: 0.75em;
  background-color: rgb(0, 115, 201);
  color: white;
  font-family: Proxima Nova Soft, Arial, Helvetica, sans-serif;
}

a {
  color: lightblue;
}

#logo {
  display: flex;
}
