#root {
  font-family: var(--font-family);
  height: 100%;
}

$font-family: var(--font-family);
$font-family-narrow: var(--font-family-narrow);
$alert-color: var(--alert-color);
$primary-color: var(--primary-color);
$monitor-background-color: var(--monitor-background-color);

ul, li {
  list-style-type: none;
}
