#root {
  font-family: var(--font-family);
  height: 100%;
}

$font-family: var(--font-family);
$font-family-narrow: var(--font-family-narrow);
$font-weight: var(--font-weight);
$font-weight-bigger: var(--font-weight-bigger);
$alert-color: var(--alert-color);
$primary-color: var(--primary-color);
$monitor-background-color: var(--monitor-background-color);

ul,
li {
  list-style-type: none;
}

.ReactModal__Content {
  font-family: var(--font-family);
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
